body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(154, 213, 228);
}

.registration-container {
    max-width: 400px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* Include the existing styles.css content */

.login-container {
    max-width: 400px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container form {
    display: flex;
    flex-direction: column;
}

.login-container label,
.login-container input {
    margin-bottom: 15px;
}

.login-container button {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #2980b9;
}

.login-container a {
    color: #e74c3c;
}

.login-container a:hover {
    text-decoration: underline;
}


/* Include the existing styles.css content */

.registration-container {
    max-width: 400px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.registration-container form {
    display: flex;
    flex-direction: column;
}

.registration-container label,
.registration-container input {
    margin-bottom: 15px;
}

.registration-container button {
    background-color: #2ecc71;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.registration-container button:hover {
    background-color: #27ae60;
}

.registration-container a {
    color: #e74c3c;
}

.registration-container a:hover {
    text-decoration: underline;
}

.user-type-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
}

h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}


/* Additional styles for CargoExpress */

.app-name {
    font-size: 36px;
    font-weight: bold;
    color: #048138;
    /* Green color, adjust as needed */
    margin-bottom: 20px;
}